<html>
<head>
    <title>login</title>
</head>
<body>
<form action='/' method='POST'>
    <h3>sign in</h3>
    <span>username</span>
    <input type="name" name="email" class="box" placeholder="enter your email" >
    <span>password</span>
    <input type="password" name="pass" class="box" placeholder="enter your password">
    <div class="checkbox">
        <input type="checkbox" id="remember-me">
        <label for="remember-me"> remember me</label>
    </div>
    <input type="submit">
    
</form>
</body>

</html>